.pt-md {
  padding-top: 1rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-md {
  gap: 1rem;
}

.justify-content {
  justify-content: center;
}

.self-align {
  align-self: center;
}

.align-items {
  align-items: center;
}

.txt-center {
  text-align: center;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}
